.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: black;
}
body{
    background-size: cover;
}
.div_song{
    float: middle;
}
.stop_button{
    width: 140px;
    font-size: 25px;
}


.play_button{
    width: 140px;
    font-size: 25px;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
}
.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: gray;
    line-height: 3;
    text-align: center;
}